/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #1d366fff;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 200px; /* Adjust the size as needed */
  margin-right: 10px; /* Add spacing between the logo and the site title */
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0; /* Remove default margin */
}


.menu {
  list-style: none;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
}

.hero {
  background-image: url('hero-background.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  color: #fff;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #1d366fff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #3966cbff;
}

.btn-primary {
  background-color: #1d366fff;
  color: #1d366fff;
}

.btn-primary:hover {
  background-color: #3966cbff;
}

.section {
  padding: 60px 0;
}

.section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.section p {
  font-size: 18px;
  margin-bottom: 30px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.project-grid {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-grid img {
  max-width: 200px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.project-grid h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-grid p {
  margin-bottom: 15px;
}

.project-grid .btn {
  margin-top: auto;
}

.project {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.project img {
  max-width: 200px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.project h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  height: 120px;
}

footer {
  background-color: #1d366fff;
  padding: 10px 0;
  color: #fff;
  text-align: center;
}
